<h5 >Exemplo de Pipes</h5>
<div fxLayout="row" fxLayoutAlign="space-between">
  <p>Título: {{livro.titulo | uppercase | lowercase | camelCase}}</p>
  <p>Estrelas: {{livro.rating | number:'1.1-1'}}</p>
  <p>Páginas: {{livro.numeroPaginas | number}}</p>
  <p>Preço: {{livro.preco | currency:'BRL':true }}</p>
  <p>Data lançamento: {{livro.dataLancamento | date}}</p>
  <p>Url: {{livro.url}}</p>
  <br>
  <p>Livro: {{livro | json }}</p>
</div>
<div>
  <ul>
    <li *ngFor="let livro of livros"> {{livro}}</li>
  </ul>

</div>
